# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.env
.venv/
venv/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE / Editors
.vscode/
.idea/

# Credentials / secrets
*.pem
*.key
*.crt
.aws/
.env.*
credentials*
secrets*

# Snowflake / SQL temp files
*.tmp
*.bak

# Glue temporary outputs
.sparkStaging/
.glue_tmp/